<nav class="flex justify-between items-center p-4 bg-gray-300 text-black">
  <div class="text-2xl">Blog</div>
  <div class="hidden md:flex space-x-4 relative flex items-center">
    <a [routerLink]="'app-home'" class="hover:text-blue-500">Blogs</a>
    <a [routerLink]="'post/index'" class="hover:text-blue-500">View</a>
  
    <form class="flex justify-center">
    <input type="text" [(ngModel)]="searchTerm"  placeholder="Type to search..."
    class="pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" name="title">
    
  <button type="submit" (click)="searchBlogs()"
    class="flex items-center justify-center px-4 text-gray-600 hover:text-blue-500"> <i class="fas fa-search"></i>
    
</button>
  

  </form>
    <a [routerLink]="'search'" class="hover:text-blue-500">search blog</a>
    <a class="text-white bg-gray-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-80 mr-15"
     [routerLink]="'image/upload'" >Create Blog Post</a>
   
  </div>
  <div class="md:hidden">
    <button>Menu</button>
  </div>
</nav>

<div *ngIf="searchResults.length > 0">
          <h2 class="flex justify-center mb-4 font-bold">Searched Results....</h2>
         <div class="flex justify-center mb-4" >
    
     
       
        <div *ngFor="let result of searchResults">
<!-- {{ result.title }} -->
  
            <td>   <img [src]="'data:image/png;base64,'+result.displayPicture" alt="Not found"></td>
              <!-- <p><img src="{{post.image}}"></p> -->
               <p class="font-medium">{{ result.date}}<small> 5 min read</small></p> 
           <p class="font-bold">{{ result.title}}</p>
              <p>{{ result.body}}</p>
               <a href="#" [routerLink]="['/records/', result.id]"  class="text-blue-600">View more</a>
        </div>
        </div>
        <!-- Adjust 'result.name' to match your API response structure -->
     
    </div>