<div class="pt-10">
    <a href="#" routerLink="/app-home" class="ml-15 font-bold">Back to blog bosts</a>
</div>
<form class="max-w-sm mx-auto" (ngSubmit)="onSubmit()" >

        <h1 class="text-4xl mb-2">Create Blog Post</h1>
        <h2 class="mb-2">Enter your blog details click save when you are done</h2>

 <div class="mb-5">

            

            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Blog Title:</label>

            <input 

                [(ngModel)]="title"

                id="title" 

                name="title"

                type="text" 
                #titleModel="ngModel"
                
                required
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
<div *ngIf="titleModel.invalid && (titleModel.dirty || titleModel.touched)" class="text-red-500">
            title is required.
        </div>
            

        </div>

          <div class="mb-5">

            

            <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Blog Date:</label>

            <input 

                [(ngModel)]="date"

                id="date" 
                name="date"
                type="date" 
                 #dateModel="ngModel"
                
                required

               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

           <div *ngIf="dateModel.invalid && (dateModel.dirty || dateModel.touched)" class="text-red-500">
            date is required.
        </div>

        </div>

        <div class="mb-5">

            

            <label for="slug" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Slug:</label>

            <input 

                [(ngModel)]="slug"
                name="slug"

                id="slug" 

                type="text" 
                  #slugModel="ngModel"
                
                required

               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
 <div *ngIf="slugModel.invalid && (slugModel.dirty || slugModel.touched)" class="text-red-500">
            slug is required.
        </div>
          

        </div>

        <div class="mb-5">

        <!-- <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Image</label>

        <input 
        (change)="onFileSelected($event)"

            [(ngModel)]="file"
            name="file"

            id="file" 

            type="file" >
        <button>Upload Image</button> -->

        <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">PNG or JPG (MAX. 100x100px)</p>
        </div>
        <input id="dropzone-file" type="file" 
         (change)="onFileSelected($event)"

            [(ngModel)]="file"
            name="file"
            type="file"
              #fileModel="ngModel"
                
                required
         />
    </label>
     <div *ngIf="fileModel.invalid && (fileModel.dirty || fileModel.touched)" class="text-red-500">
            image is required.
        </div>
            

    </div>

      


  

       <div class="mb-5">

            <label for="body" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comment</label>

            <textarea 

                [(ngModel)]="body"

                id="body" 
                name="body"

                type="text" 
                  #bodyModel="ngModel"
                
                required

                 class="h-50 w-100 border border-gray-300 rounded-md p-2">
               

            </textarea>

            <div *ngIf="bodyModel.invalid && (bodyModel.dirty || bodyModel.touched)" class="text-red-500">
            comment is required.
        </div>

          

        </div>

  

        <button 
        class="flex bg-gray-500 text-white bg-blue-700 
        hover:bg-blue-800 focus:ring-4 focus:outline-none
         focus:ring-blue-300 font-medium rounded-lg text-sm 
         w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 
         dark:hover:bg-blue-700 dark:focus:ring-gray-800" 
    
        type="submit">Save Changes</button>

    </form>



<!-- <div class="flex items-center justify-center w-full">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><button (click)="onUpload()" class="font-semibold">Click to upload</button> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <input id="dropzone-file" type="file" class="hidden" />
    </label>
</div>  -->