    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

   <div class="pt-10">
    <a href="#" routerLink="/app-home" class="ml-15 font-bold">Back to blog bosts</a>
</div>
 <form class="flex justify-center">
    <input type="text" [(ngModel)]="searchTerm"  placeholder="Type to search..."
    class="pl-10 pr-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" name="title">
    
  <button type="submit" (click)="searchBlogs()"
    class="flex items-center justify-center px-4 text-gray-600 hover:text-blue-500"> <i class="fas fa-search"></i>
      <!-- <span class="material-icons">search</span> -->
</button>
  

  </form>
  <div *ngIf="!searchResults.length === !0 && !searchTerm">
   <h1 class="flex justify-center font-bold mt-5">showing {{recordCount}} Results of "Accessibility"</h1>
   </div>
  <div class="p-15">
   
      
   
    <div *ngIf="searchResults.length > 0">
          <h2 class="flex justify-center mb-4 font-bold">Searched Results....</h2>
         <div class="grid grid-cols-3 gap-20" >
    
     
       
        <div *ngFor="let result of searchResults">
<!-- {{ result.title }} -->
  
            <td>   <img [src]="'data:image/png;base64,'+result.displayPicture" alt="Not found"></td>
              <!-- <p><img src="{{post.image}}"></p> -->
               <!-- <p class="font-medium">{{ result.date}}<small> 5 min read</small></p>  -->
                 <p class="font-medium">{{ result.date |date:'mediumDate'}}<small> 5 min read</small></p>
           <p class="font-bold">{{ result.title}}</p>
              <p>{{ result.body |truncate:100:true}}</p>
               <!-- <a href="#" [routerLink]="['/records/', post.id]" class="btn btn-info">View more</a> -->
        </div>
        </div>
        <!-- Adjust 'result.name' to match your API response structure -->
     
    </div>
    
    <div *ngIf="searchResults.length === 0 && searchTerm">
      <!-- <p>No results found for "{{ searchTerm }}".</p> -->
      
<div class="grid grid-cols-3 gap-20" >
    <div  *ngFor="let post of posts">
         <div class="grid grid-cols-3 gap-20" >
      <td>   <img [src]="'data:image/png;base64,'+post.displayPicture" alt="Not found"></td>
              <!-- <p><img src="{{post.image}}"></p> -->
               <p class="font-medium">{{ post.date | date:'mediumDate'}}<small> 5 min read</small></p> 
           <p class="font-bold">{{ post.title}}</p>
              <p>{{ post.body|truncate:100:true}}</p>
              </div>
              
    </div>
    </div>
    </div>

    <div *ngIf="!searchResults.length === !0 && !searchTerm">
      <!-- <p>No results found for "{{ searchTerm }}".</p> -->
      
    <div class="grid grid-cols-3 gap-20" >
    <div  *ngFor="let post of posts" class="bg-gray-300">
       
      <td>   <img [src]="'data:image/png;base64,'+post.displayPicture" alt="Not found"></td>
              <!-- <p><img src="{{post.image}}"></p> -->
               <p class="font-medium">{{ post.date | date:'mediumDate'}}<small> 5 min read</small></p> 
           <p class="font-bold">{{ post.title}}</p>
              <p>{{ post.body|truncate:100:true}}</p>
               <a href="#" [routerLink]="['/records/', post.id]" class="text-blue-600">View</a>
             
              
    </div>
    </div>
    </div>

     <div class="flex justify-center">
    <mat-paginator
          [length]="totalElements"
          [pageSize]="pageSize"
          [pageIndex]="pageNumber"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPageChange($event)">
        </mat-paginator>
        </div>
     
  </div>
  