

  <div class="p-5">
  
<div>
    <a href="#" routerLink="/post/index" class="ml-15 font-bold">Back to blog bosts</a>
</div>
   
<div class class="max-w-sm mx-auto">
  
<div *ngIf="record" class="bg-gray-300">
   

    <div> <p class="text-4xl w-96">{{ record.title }}</p></div>

      <div class="ml-30 mr-30"> <p>{{ record.date }}</p> </div>

 <img [src]="'data:image/png;base64,'+record.displayPicture"  alt="Not found">

 <div>
 <p class="w-full">{{ record.body }}</p>
</div>
 </div>
   

</div>
</div>

