
  <div class="p-5 mt-2">
  
<div>
    <a href="#" routerLink="/post/index" class="ml-15 font-bold">Back to blog bosts</a>
</div>
   <div class="p-20">
 <div class="flex justify-center mb-4" >
  
<div *ngIf="record" class="bg-gray-300">
    

    <div> <p class="flex justify-center text-4xl">{{ record.title }}</p></div>

      <div class="flex justify-center ml-30 mr-30"> <p>{{ record.date |date:'mediumDate'}}</p> </div>

 <img class="flex justify-center" [src]="'data:image/png;base64,'+record.displayPicture"  alt="Not found">


 <p class="whitespace-pre-line w-full mb-2 mt-2">{{ record.body }}</p>

</div>
 </div>
 </div>
   


</div>

